@page "/"

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1 class="display-5 fw-bold text-danger">Welcome to Our Restaurant</h1>
            <p class="lead">Experience the exquisite taste of our cuisine and elevate your dining experience!</p>
        </div>
    </div>
</div>

<hr class="mt-0">


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <img src="/data/pizza.jpg" alt="Pizza" class="img-fluid">
            <p class="fw-bold text-danger fs-5" style="font-family: 'Roboto', sans-serif;">Pizza</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="/data/burger.jpg" alt="Burger" class="img-fluid">
            <p class="fw-bold text-danger fs-5" style="font-family: 'Roboto', sans-serif;">Burger</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="/data/salad.jpg" alt="Salad" class="img-fluid">
            <p class="fw-bold text-danger fs-5" style="font-family: 'Roboto', sans-serif;">Salad</p>
        </div>
    </div>
</div>



<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <a href="/menu" class="btn btn-lg" style="background-color: #8B0000; color: white;">View Menu</a>
        </div>
    </div>
</div>

<hr class="mt-4">

<footer class="footer mt-auto py-3" style="background-image: linear-gradient(180deg, rgb(153, 78, 0) 0%, #8B0000 95%); color: white;">
    <div class="container text-center">
        <span class="text-muted">Restaurant Management System &copy; 2024</span>
        <div class="social-media-icons mt-3">
            <a href="https://www.facebook.com/YourRestaurantPage" target="_blank"><img src="facebook_logo.png" alt="Facebook" width="30"></a>
            <a href="https://www.instagram.com/YourRestaurantPage" target="_blank"><img src="instagram_logo.png" alt="Instagram" width="30" class="ms-2"></a>
        </div>
    </div>
</footer>